
.bg-image{
    background-image: url(images/slider-img-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   height:70vh
   
}
.bg-gradient{
    background: linear-gradient(85deg, rgba(26, 44, 121, 0.8) 30%, rgba(232, 5, 102, 0.9) 100%) !important;
   height: 70vh;
   background-size: cover;
   width:100%
}
.font-s{
    font-size: 17px
}
.link-style ol li a{
    color:#ffff;
    text-decoration: none;
}
.section-lg {
    padding-top: 8rem;
    padding-bottom: 8rem;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #707070;
    text-align: left;
}
.contact{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}
.massage-box{
    padding-bottom: 1rem !important;
}
.max-width{
    flex: 0 0 50%;
    max-width: 50%;
}
h4{
    margin-bottom: 0.7rem;
    line-height: 1.3;
    color:black
}
.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}
.form-row .col-width{
    padding-right: 5px;
    padding-left: 5px;
    max-width: 100%;
}
.form-group{
    margin-bottom: 1rem;
    position:relative
}
.form-control-width{
    padding: 0.6rem 0.75rem;
    width:100%
}
.form-control {
    font-size: 0.875rem;
    border-radius: 0.3rem;
    box-shadow: none;
    display: block;
    width: 100%;
    height: calc(1.5em + 1.5rem);
    padding: 0.6rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #181C32;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 0.0625rem solid #D1D3E0;
    border-radius: 0.3rem;
    -webkit-box-shadow: 0 4px 30px rgb(0 0 0 / 5%);
    box-shadow: 0 4px 30px rgb(0 0 0 / 5%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.btn-class{
    margin-top: 1rem !important;
    flex: 0 0 100%;
    max-width: 100%;
   
}
.btn-secondary.disabled{
    color: #ffffff;
    background-color: #e80566;
    border-color: #e80566;
}
.btn.disabled{
    opacity: 0.65;
    -webkit-box-shadow: none;
    box-shadow: none;
}
h2{
    font-family: "Archivo", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color:#181C32
}
.lead {
    font-size: 1.25rem;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
    margin-bottom: 1rem;
}
p{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.btn-outline-secondary {
    color: #e80566;
    border-color: #e80566;
}
.h5-style{
    font-family: "Archivo", sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 0.7rem;
    line-height: 1.3;
    color: #000000;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
address {
    margin-bottom: 1rem;
    font-style: normal;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #707070;
    text-align: left;
    background-color: #ffffff;
}
a, .text-action {
    color: #1A2C79;
    transition: all 0.2s ease;
    text-decoration: none;
    background-color: transparent;
}
@media (min-width: 992px)
.position{
    position: relative;
}
.google-map {
    height: 100%;
    margin-bottom: -0.5rem !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
   
}

.opacity-9 {
    opacity: 0.9 !important;
}
.w-100{
    width: 100% !important;
}
.icon-shape{
    width: 2rem;
    height: 2rem;
    text-align: center;
    display:inline-flex;
    justify-content: center;
}
.links-vertical a{
    color:#dcd1d1;
    text-decoration: none;
}
.footer-bg{
    background-color: #1A2C79;
}
.fa-twitter {
    background-color: #1da1f2;
    color: white;
}
.fa-facebook-f{
    color: #ffffff;
    background-color: #3b5999;
    border-color: #3b5999
}
.fa-youtube{
    color: #ffffff;
    background-color: #cd201f;
    border-color: #cd201f;
}
.fa-dribbble{
    color: #ffffff;
    background-color: #ea4c89;
    border-color: #ea4c89;

}
.footer-end{
    background-color: #1A2C79;
}
.icon-color{
    color:#cd201f
}
.footer ul.links-vertical li a {
    padding: 5px;
}
ul li{
    padding-bottom: 25px;
}
ul li a:hover{
    color:#ffff
}